{
  "apiUrl": "/",
  "socketUrl": "/websocket",
  "title": "QIDI Plus 4",
  "camera": {
    "dashboardLayout": "top",
    "streamUrl": "/camera/stream.mjpeg?src=qidi_plus4",
    "snapshotUrl": "/camera/frame.jpeg?src=qidi_plus4"
  }
}
